.caption {
  text-align: center;
  caption-side: top;
  color: black;
}

.stats {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.stats thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.stats th,
.stats td {
    padding: 12px 15px;
}

.stats tbody tr {
    border-bottom: 1px solid #dddddd;
}

.stats tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.stats tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.stats tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
